.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 24px 0;
    background-color: rgba(26, 42, 68, 0.75);
    backdrop-filter: blur(8px);

        &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}



.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: white;
}

.nav-list {
    display: flex;
    gap: 28px;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    color: white;

    & li:hover {
        opacity: 0.6;
    }
}

